@import "../../../assets/styles/main.scss";

.app {
  height: calc(100vh - 57px);
  background-color: $gray3;
  overflow-x: hidden;

  & aside:first-child {
    position: fixed;
    height: 100%;
    top: 0px;
  }
}