@import "../../assets/styles/main.scss";

.content__users {
    height: calc(100vh - 61px);
    min-height: calc(100vh - 100px);
    width: calc(100vw - 320px);
    margin-top: 20px;
    margin-left: 210px;
}

.userTable__operation {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}